.datePicker {
  display: flex;
  align-items: center;
  .date {
    color: rgba(66, 72, 116, 1);
    font-size:40px;
    font-weight: 500;
  }
  .icon {
    width: 64px;
    height: 64px;
    color: rgba(66, 72, 116, 1);
  }
}
