.dayView {
  position: relative;
  .dayContainer {
    .dayRow {
      display: flex;
      height: 100px;
      &Left {
        width: 100px;
        height: 100%;
        flex: 0 0 100px;
        font-size: 24px;
        color: rgba(120, 125, 147, 1);
        text-align: center;
        &Content {
          transform: translate3d(0, -50%, 0);
          &.first {
            transform: none;
          }
        }
      }
      &Right {
        flex: 1;
        height: 100%;
        border-top: 2px solid #f0f0f0;
        padding: 0 24px;
      }
    }
  }
  .dayRowRightBox {
    position: absolute;
    right: 24px;
    left: 124px;
    border-radius: 20px;
  }
}
