.calendarContainer {
  position: relative;
  width: 100%;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
 .calendar {
    position: relative;
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1024;
    transition: transform 0.5s ease-out;
    &.week {
      //height: 250px;
      .calendarPanel {
        transform: translate3d(0, -50px, 0);
      }
    }
    .calendarHeader {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color: #ffffff;
      padding: 20px 40px 0;
      overflow: hidden;
      z-index: 1024;
    }
    .calendarWeeks {
      position: absolute;
      top: 100rpx;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 50rpx;
      width: 100%;
      background-color: #ffffff;
      padding: 10rpx 10rpx 0;
      z-index: 1024;
      transition: all .28s ease 0s;
      .week {
        flex: 1;
        text-align: center;
        font-size: 28px;
        color: rgba(152, 157, 179, 1);
        font-weight: 500;
      }
    }
    .calendarPanel {
      position: absolute;
      top: 150rpx;
      left: 0;
      width: 100%;
      height: calc(100% - 150px);
      overflow: hidden;
      z-index: 10;
    }
  }
}
