.calendarContainer {
  position: relative;
  width: 100%;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
 .calendar {
    position: relative;
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1024;
    &.week {
      height: 250px;
    }
    .calendarHeader {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color: #ffffff;
      padding: 20px 40px;
      overflow: hidden;
      z-index: 1024;
    }
    .calendarWeeks {
      position: absolute;
      top: 100px;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      width: 100%;
      background-color: #ffffff;
      z-index: 1024;
      .week {
        flex: 1;
        text-align: center;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 700;
      }
    }
    .calendarPanel {
      position: absolute;
      top: 150rpx;
      left: 0;
      width: 100%;
      height: calc(100% - 150px);
      overflow: hidden;
      z-index: 10;
    }
  }
}
